@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base Styles */

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 20px 50px;
    background-color: #892be2;
    border-radius: 20px;
    font-weight: 700;
}

.btn:hover {
    border: 2px solid #892be2;
    background-color: transparent;
    color: #000;
}

section {
    padding: 100px 0;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

/* Header Style */

#header {
    background: linear-gradient(rgba(0, 128, 0, 0.322), rgba(0, 0, 0, 0.63)), url("images/travel-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #892be2;
}

ul {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
}

li:hover {
    border-bottom: 2px solid #fff;
}

#header .header-text {
    width: 50%;
}

#header h4 {
    font-size: 30px;
}

#header h1 {
    font-size: 60px;
}

#header p {
    font-size: 20px;
    margin-bottom: 40px;
}

/* Services Section Style */

#services .services-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

#services .services-container .half {
    width: 50%;
    text-align: center;
}

#services .half img {
    width: 80%;

}

#services .iconify {
    font-size: 30px;
    color: #fff;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 50%;
}

/* Products */

#products .card-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 70px auto;
}

#products .card-container .card {
    text-align: center;
    box-shadow: 5px 5px 10px gray;
    padding: 40px 15px;
    border-radius: 10px;
}

#products .card-container .card img {
    margin-top: 20px;
}

#products .card-container .card p {
    margin: 30px 0;
}

/* Contact */

#contact .form-container {
    margin: 20px auto;
    padding: 30px;
    background-color: #80808085;
    width: 80%;
    border-radius: 20px;
}

#contact input,
#contact a {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
}

#contact .btn:hover {
    border: 2px solid #892be2;
    background-color: transparent;
    color: #000;
}

.footer {
    text-align: center;
    background-color: #892be2;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    color: #fff;
}

.footer p {
    padding: 20px 0;
}

.footer p>a {
    margin: 0 20px;
}